/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.Reddit {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #000;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.Reddit-color {
  color: #ff4500;
}

#Reddit-Image{
  height: 80vh;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
